In [1]:
import sqlite3

# Standard read-write connection
conn = sqlite3.connect('sqlite_db_pythonsqlite.db')

# Create a cursor object
curs = conn.cursor()

In [2]:
# List the tables in the database
curs.execute("Select name FROM sqlite_master WHERE type = 'table'").fetchall()

[('Bookings',), ('Facilities',), ('Members',)]

In [3]:
# Inspecting the columns in a table
for row in curs.execute("PRAGMA table_info(Bookings)"):
    print(row)

(0, 'bookid', 'int(4)', 1, "'0'", 1)
(1, 'facid', 'int(1)', 0, 'NULL', 0)
(2, 'memid', 'int(2)', 0, 'NULL', 0)
(3, 'starttime', 'varchar(19)', 0, 'NULL', 0)
(4, 'slots', 'int(2)', 0, 'NULL', 0)

In [4]:
# Create a test query
curs.execute("SELECT * FROM Facilities").fetchall()

[(0, 'Tennis Court 1', 5, 25, 10000, 200),
 (1, 'Tennis Court 2', 5, 25, 8000, 200),
 (2, 'Badminton Court', 0, 15.5, 4000, 50),
 (3, 'Table Tennis', 0, 5, 320, 10),
 (4, 'Massage Room 1', 9.9, 80, 4000, 3000),
 (5, 'Massage Room 2', 9.9, 80, 4000, 3000),
 (6, 'Squash Court', 3.5, 17.5, 5000, 80),
 (7, 'Snooker Table', 0, 5, 450, 15),
 (8, 'Pool Table', 0, 5, 400, 15)]

#### Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

In [18]:
fac_rev = curs.execute("""SELECT name, revenue FROM
	(SELECT f.name, sum(CASE WHEN b.memid = 0 THEN b.slots * f.guestcost
                        	 ELSE b.slots * f.membercost
                        END) AS revenue
     		FROM Bookings as b
     		INNER JOIN Facilities AS f ON b.facid = f.facid
     		GROUP BY f.name)
			AS agg WHERE revenue < 1000
ORDER BY revenue;""").fetchall()

print('Facilities with Revenue Less Than 1000\n')
print('Facility\tRevenue')
for fac in fac_rev:
    print(fac[0],'\t', fac[1])

Facilities with Revenue Less Than 1000

Facility	Revenue
Table Tennis 	 180
Snooker Table 	 240
Pool Table 	 270

#### Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order