In [1]:
import sqlite3

# Standard read-write connection
conn = sqlite3.connect('sqlite_db_pythonsqlite.db')

# Create a cursor object
curs = conn.cursor()

In [2]:
# List the tables in the database
curs.execute("Select name FROM sqlite_master WHERE type = 'table'").fetchall()

[('Bookings',), ('Facilities',), ('Members',)]

In [3]:
# Inspecting the columns in a table
for row in curs.execute("PRAGMA table_info(Bookings)"):
    print(row)

(0, 'bookid', 'int(4)', 1, "'0'", 1)
(1, 'facid', 'int(1)', 0, 'NULL', 0)
(2, 'memid', 'int(2)', 0, 'NULL', 0)
(3, 'starttime', 'varchar(19)', 0, 'NULL', 0)
(4, 'slots', 'int(2)', 0, 'NULL', 0)

In [4]:
# Create a test query
curs.execute("SELECT * FROM Facilities").fetchall()

[(0, 'Tennis Court 1', 5, 25, 10000, 200),
 (1, 'Tennis Court 2', 5, 25, 8000, 200),
 (2, 'Badminton Court', 0, 15.5, 4000, 50),
 (3, 'Table Tennis', 0, 5, 320, 10),
 (4, 'Massage Room 1', 9.9, 80, 4000, 3000),
 (5, 'Massage Room 2', 9.9, 80, 4000, 3000),
 (6, 'Squash Court', 3.5, 17.5, 5000, 80),
 (7, 'Snooker Table', 0, 5, 450, 15),
 (8, 'Pool Table', 0, 5, 400, 15)]

#### Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

In [5]:
fac_rev = curs.execute("""
SELECT name, revenue FROM
	(SELECT f.name, sum(CASE WHEN b.memid = 0 THEN b.slots * f.guestcost
                        	 ELSE b.slots * f.membercost
                        END) AS revenue
     		FROM Bookings as b
     		INNER JOIN Facilities AS f ON b.facid = f.facid
     		GROUP BY f.name)
			AS agg WHERE revenue < 1000
ORDER BY revenue;
""").fetchall()

print('Facilities with Revenue Less Than 1000\n')
print('Facility\tRevenue')
for fac in fac_rev:
    print(fac[0],'\t', fac[1])

Facilities with Revenue Less Than 1000

Facility	Revenue
Table Tennis 	 180
Snooker Table 	 240
Pool Table 	 270

#### Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

In [6]:
rec_by = curs.execute("""
SELECT a.surname||', '||a.firstname AS Member, b.firstname||' '||b.surname AS 'Rec By'
FROM Members AS a
JOIN Members AS b
ON (a.recommendedby = b.memid AND b.memid != 0 AND a.recommendedby IS NOT NULL)
ORDER BY a.surname
""").fetchall()

print('Members and the Members Who Recommended Them\n')
print('Member \t\t\t\t Recommended By')
for mem in rec_by:
       print(mem[0].ljust(24), '\t', mem[1])

Members and the Members Who Recommended Them

Member 				 Recommended By
Bader, Florence          	 Ponder Stibbons
Baker, Anne              	 Ponder Stibbons
Baker, Timothy           	 Jemima Farrell
Boothe, Tim              	 Tim Rownam
Butters, Gerald          	 Darren Smith
Coplin, Joan             	 Timothy Baker
Crumpet, Erica           	 Tracy Smith
Dare, Nancy              	 Janice Joplette
Genting, Matthew         	 Gerald Butters
Hunt, John               	 Millicent Purview
Jones, David             	 Janice Joplette
Jones, Douglas           	 David Jones
Joplette, Janice         	 Darren Smith
Mackenzie, Anna          	 Darren Smith
Owen, Charles            	 Darren Smith
Pinker, David            	 Jemima Farrell
Purview, Millicent       	 Tracy Smith
Rumney, Henrietta        	 Matthew Genting
Sarwin, Ramnaresh        	 Florence Bader
Smith, Jack              	 Darren Smith
Stibbons, Ponder         	 Burton Tracy
Worthington-Smyth, Henry 	 Tracy Smith

#### Q12: Find the facilities with their usage by member, but not guests

In [10]:
fac_used = curs.execute("""
SELECT f.name AS Name, m.firstname||' '||m.surname AS Member, count(f.name) AS Used
FROM Facilities AS f
JOIN Bookings AS b ON b.facid = f.facid
JOIN Members AS m ON b.memid = m.memid
WHERE b.memid != 0
GROUP BY m.surname, f.name
ORDER BY f.name, m.surname;
""").fetchall()

print('Facilities and Their Usage by Member\n')
print('Facility'.ljust(25), 'Member'.ljust(25), 'Times Used')

for fac in fac_used:
    print(fac[0].ljust(25), fac[1].ljust(25), fac[2])

Facilities and Their Usage by Member

Facility                  Member                    Times Used
Badminton Court           Florence Bader            9
Badminton Court           Timothy Baker             17
Badminton Court           Tim Boothe                12
Badminton Court           Gerald Butters            20
Badminton Court           Erica Crumpet             2
Badminton Court           Nancy Dare                10
Badminton Court           Jemima Farrell            7
Badminton Court           John Hunt                 2
Badminton Court           David Jones               10
Badminton Court           Anna Mackenzie            30
Badminton Court           Charles Owen              6
Badminton Court           David Pinker              7
Badminton Court           Millicent Purview         2
Badminton Court           Tim Rownam                4
Badminton Court           Ramnaresh Sarwin          7
Badminton Court           Darren Smith              176
Badminton Court           Ponder Stibbons           16
Badminton Court           Burton Tracy              2
Badminton Court           Hyacinth Tupperware       1
Badminton Court           Henry Worthington-Smyth   4
Massage Room 1            Timothy Baker             27
Massage Room 1            Tim Boothe                36
Massage Room 1            Gerald Butters            32
Massage Room 1            Joan Coplin               1
Massage Room 1            Erica Crumpet             2
Massage Room 1            Nancy Dare                19
Massage Room 1            Jemima Farrell            29
Massage Room 1            Matthew Genting           25
Massage Room 1            John Hunt                 3
Massage Room 1            David Jones               19
Massage Room 1            Janice Joplette           12
Massage Room 1            Anna Mackenzie            1
Massage Room 1            Charles Owen              11
Massage Room 1            David Pinker              3
Massage Room 1            Tim Rownam                80
Massage Room 1            Ramnaresh Sarwin          8
Massage Room 1            Darren Smith              61
Massage Room 1            Ponder Stibbons           19
Massage Room 1            Burton Tracy              31
Massage Room 1            Hyacinth Tupperware       1
Massage Room 1            Henry Worthington-Smyth   1
Massage Room 2            Florence Bader            2
Massage Room 2            Anne Baker                2
Massage Room 2            Gerald Butters            1
Massage Room 2            Joan Coplin               2
Massage Room 2            Nancy Dare                5
Massage Room 2            Matthew Genting           1
Massage Room 2            David Jones               4
Massage Room 2            Janice Joplette           2
Massage Room 2            Charles Owen              2
Massage Room 2            Tim Rownam                2
Massage Room 2            Ramnaresh Sarwin          3
Massage Room 2            Jack Smith                1
Pool Table                Florence Bader            23
Pool Table                Anne Baker                97
Pool Table                Tim Boothe                25
Pool Table                Gerald Butters            6
Pool Table                Joan Coplin               11
Pool Table                Nancy Dare                19
Pool Table                David Farrell             26
Pool Table                Matthew Genting           18
Pool Table                David Jones               10
Pool Table                Janice Joplette           27
Pool Table                Anna Mackenzie            70
Pool Table                Charles Owen              1
Pool Table                David Pinker              9
Pool Table                Millicent Purview         5
Pool Table                Tim Rownam                241
Pool Table                Henrietta Rumney          3
Pool Table                Ramnaresh Sarwin          13
Pool Table                Darren Smith              96
Pool Table                Ponder Stibbons           12
Pool Table                Burton Tracy              30
Pool Table                Hyacinth Tupperware       8
Pool Table                Henry Worthington-Smyth   33
Snooker Table             Florence Bader            33
Snooker Table             Tim Boothe                43
Snooker Table             Gerald Butters            34
Snooker Table             Joan Coplin               10
Snooker Table             Nancy Dare                23
Snooker Table             Jemima Farrell            22
Snooker Table             Matthew Genting           1
Snooker Table             David Jones               2
Snooker Table             Janice Joplette           68
Snooker Table             Anna Mackenzie            7
Snooker Table             Charles Owen              22
Snooker Table             David Pinker              16
Snooker Table             Millicent Purview         1
Snooker Table             Henrietta Rumney          14
Snooker Table             Ramnaresh Sarwin          18
Snooker Table             Darren Smith              62
Snooker Table             Ponder Stibbons           20
Snooker Table             Burton Tracy              20
Snooker Table             Hyacinth Tupperware       5
Squash Court              Florence Bader            2
Squash Court              Anne Baker                54
Squash Court              Tim Boothe                12
Squash Court              Gerald Butters            9
Squash Court              Joan Coplin               1
Squash Court              Jemima Farrell            9
Squash Court              John Hunt                 1
Squash Court              David Jones               9
Squash Court              Janice Joplette           14
Squash Court              Anna Mackenzie            2
Squash Court              Charles Owen              7
Squash Court              David Pinker              3
Squash Court              Millicent Purview         1
Squash Court              Henrietta Rumney          2
Squash Court              Ramnaresh Sarwin          2
Squash Court              Darren Smith              29
Squash Court              Ponder Stibbons           2
Squash Court              Burton Tracy              35
Squash Court              Hyacinth Tupperware       1
Table Tennis              Florence Bader            42
Table Tennis              Anne Baker                25
Table Tennis              Tim Boothe                4
Table Tennis              Gerald Butters            1
Table Tennis              Joan Coplin               21
Table Tennis              Erica Crumpet             2
Table Tennis              Nancy Dare                5
Table Tennis              Jemima Farrell            12
Table Tennis              Matthew Genting           26
Table Tennis              John Hunt                 1
Table Tennis              David Jones               11
Table Tennis              Janice Joplette           9
Table Tennis              Anna Mackenzie            16
Table Tennis              Charles Owen              24
Table Tennis              David Pinker              17
Table Tennis              Millicent Purview         6
Table Tennis              Tim Rownam                69
Table Tennis              Ramnaresh Sarwin          3
Table Tennis              Darren Smith              61
Table Tennis              Ponder Stibbons           3
Table Tennis              Burton Tracy              24
Table Tennis              Henry Worthington-Smyth   3
Tennis Court 1            Florence Bader            1
Tennis Court 1            Anne Baker                20
Tennis Court 1            Tim Boothe                4
Tennis Court 1            Gerald Butters            57
Tennis Court 1            Joan Coplin               7
Tennis Court 1            Erica Crumpet             1
Tennis Court 1            Nancy Dare                25
Tennis Court 1            Jemima Farrell            7
Tennis Court 1            Matthew Genting           1
Tennis Court 1            John Hunt                 4
Tennis Court 1            David Jones               34
Tennis Court 1            Janice Joplette           19
Tennis Court 1            Charles Owen              17
Tennis Court 1            David Pinker              16
Tennis Court 1            Tim Rownam                6
Tennis Court 1            Ramnaresh Sarwin          5
Tennis Court 1            Tracy Smith               52
Tennis Court 1            Ponder Stibbons           1
Tennis Court 1            Burton Tracy              31
Tennis Court 2            Florence Bader            8
Tennis Court 2            Anne Baker                42
Tennis Court 2            Tim Boothe                52
Tennis Court 2            Gerald Butters            3
Tennis Court 2            Nancy Dare                11
Tennis Court 2            Jemima Farrell            2
Tennis Court 2            John Hunt                 4
Tennis Court 2            David Jones               30
Tennis Court 2            Janice Joplette           8
Tennis Court 2            Charles Owen              41
Tennis Court 2            Millicent Purview         1
Tennis Court 2            Tim Rownam                6
Tennis Court 2            Henrietta Rumney          1
Tennis Court 2            Ramnaresh Sarwin          11
Tennis Court 2            Darren Smith              22
Tennis Court 2            Ponder Stibbons           31
Tennis Court 2            Burton Tracy              3

#### Q13: Find the facilities usage by month, but not guests

In [8]:
fac_month = curs.execute("""
SELECT f.name as Name, strftime('%m', b.starttime) as Month, COUNT(f.name) AS Used
FROM Bookings AS b
JOIN Facilities AS f ON b.facid = f.facid
GROUP BY f.name, strftime('%m', b.starttime);
""").fetchall()

print('Facility Usage by Month\n')
print('Facility'.ljust(20), 'Month'.ljust(5), 'Times Used')

for i in range(len(fac_month)):
    print(fac_month[i][0].ljust(20), fac_month[i][1].ljust(5), fac_month[i][2])

Facility Usage by Month

Facility             Month Times Used
Badminton Court      07    56
Badminton Court      08    146
Badminton Court      09    181
Massage Room 1       07    123
Massage Room 1       08    224
Massage Room 1       09    282
Massage Room 2       07    12
Massage Room 2       08    40
Massage Room 2       09    59
Pool Table           07    110
Pool Table           08    291
Pool Table           09    435
Snooker Table        07    75
Snooker Table        08    159
Snooker Table        09    210
Squash Court         07    75
Squash Court         08    170
Squash Court         09    195
Table Tennis         07    51
Table Tennis         08    147
Table Tennis         09    205
Tennis Court 1       07    88
Tennis Court 1       08    146
Tennis Court 1       09    174
Tennis Court 2       07    68
Tennis Court 2       08    149
Tennis Court 2       09    172